<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prova</title>
</head>
<body class="sidebar-menu-collapsed">
  <section>
    <app-sidebar-menu></app-sidebar-menu>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </section>
  <app-footer></app-footer>

  <script>
    function toggleMenu() {
      let body = document.querySelector("body");
      let hasCollapsed = body.classList.contains("sidebar-menu-collapsed");
      if(hasCollapsed) {
       body.classList.remove("sidebar-menu-collapsed");
       body.classList.add("noscroll");
      } else {
        body.classList.remove("noscroll");
        body.classList.add("sidebar-menu-collapsed");
      };
    }
    
  </script>
</body>
</html>